.header {
    height: 110px;
    text-align: center;
    h1 {
        color: $color;
        font-size: 20px;
        padding-top: 20px;
    }
    p {
        color: $color1;
        font-size: 12px;
    }
    .balls {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        span {
            display: inline-block;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: $color2-darker;
            margin: 0 4px;
            &.current {
                width: 8px;
                height: 8px;
                background-color: $color2;
            }
        }
    }
}