//定义主题
$backgroundColor: #060a3d;//背景颜色
$color: #fff;//字的颜色
$color1: #868aaf;//灰色字的颜色
$color2: #db3baa;//亮粉色

$color2-dark: darken($color2, 10%);
$color2-darker: darken($color2, 30%);

$color3: #0025f1;//未播放的进度

