@import "./cleanup";
@import "./variables";
@import "./animation";

#player {
    height: 100vh;
    background-color: $backgroundColor;
    overflow: hidden;
    
    @import "./header";
    @import "./panels";
}
